{% extends 'base.html' %}


{% block content %}



<div class="card">
    <div class="card-header">
        <!-- {{ customer_records.first_name }}
        {{ customer_records.last_name }} -->
        <strong>{{ customer_records.first_name | title }}
        {{ customer_records.last_name | title }}</strong>
    </div>
    <div class="card-body">
<p class="card-text">
    <p class="card-text"></p><strong>Email: </strong>{{ customer_records.email }}</p>

    <p class="card-text"></p><strong>contact: </strong>{{ customer_records.phone}}</p>

    <p class="card-text"></p><strong>Address: </strong>{{ customer_records.address}}</p>

    <p class="card-text"></p><strong>City: </strong>{{ customer_records.city }}</p>

    <p class="card-text"></p><strong>State: </strong>{{ customer_records.state }}</p>

    <p class="card-text"></p><strong>Zipcode: </strong>{{ customer_records.zipcode }}</p>
    
    <p class="card-text"></p><strong>Created at: </strong>{{ customer_records.created_at }}</p>

</p>  
  </div>
  </div>



<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back
</a>
<!-- <a href="{% url 'delete' customer_records.id %}" class="btn btn-danger">Delete
</a> -->


<!-- Button trigger modal -->

<button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Delete
</button>


<a href="{% url 'update_record' customer_records.id %}" class="btn btn-secondary">Update Record
</a>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">Are You sure You want to Delete This</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      This Record Will be Permanently Deleted, click continue to Delete.
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      
      <!-- Form for deletion -->
      <form method="POST" action="{% url 'delete' customer_records.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Continue</button>
      </form>
    </div>
  </div>
</div>
</div>

    
  


{% endblock %}


